header {
  background-color: #bd97cb;
}

.Logo {
  display: inline;
  width: 30vh;
}

h1 {
  color: #f3eac0;
  font-size: 7vh;
}

h2 {
  color: #5e376d;
}

h3 {
  color: #222c30;
  font-size: 2.2vh;
}

p {
  color: #222c30;
  font-size: 2vh;
}

.Abajo {
  width: 15vh;
  margin: 0 auto;
  opacity: 0.3;
}

.Abajo:hover {
  opacity: 0.2;
  transition: ease all 0.5s;
}

.Titulo {
  background-color: #74708049;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 0;
}

.Detalles {
  background-color: #74708049;
  width: 90%;

  position: absolute;
  display: grid;
  grid-template-columns: 2.5fr 4.2fr 2.5fr;
  align-items: center;
  top: 58vh;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.Productos {
  width: 90%;
  height: 15%;
  left: 5%;
  top: 65vh;
  position: absolute;
}

.Items {
  width: 90%;
  display: grid;
  height: 40%;
  grid-template-columns: 2.5fr 8fr 2.5fr;
  top: 68vh;
  left: 0;
  right: 0;
  margin: 0 auto;
}
