@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@700&display=swap');

.Cover{
    background-color : #BD97CB;
}
.Logo{
    width: 50vh;
}

h1{
    color:#F3EAC0;
    font-family: 'Roboto', sans-serif;
    font-size: 9vh;
    letter-spacing: 0.5vh;
    margin: 0 auto;
}

h1:hover{
    color: #F3EAC0;
    opacity: 0.7;
    transition: ease all 0.5s;
}

h2{
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 0;
    letter-spacing: 0.2vh;
    color: #222C30;
    opacity: 0.8;
  }

.Abajo{
    width: 15vh;
    margin: 0 auto;
    opacity: 0.8;
}

.Abajo:hover{
    opacity: 0.7;
    transition: ease all 0.5s;
}