@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@700&display=swap');

.App {
  text-align: center;
}

p{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 4vh;
  margin: 5vh auto;
}

h1{
  color:#F3EAC0;
  font-family: 'Roboto', sans-serif;
  font-size: 7vh;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #747080;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F6F4F1;
}

.App-link {
  color: #F3EAC0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
